.vac-img {
  width: 300px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.m-5 {
  margin: 5px !important;
}
.search {
  margin: 20px 0px;
}
ul {
  padding-left: 0;
  list-style-position: inside;
}
.primary-color{
    color: #407bff;
}